.aboutus{
    display: flex;
    justify-content: space-evenly;
.myself{
    img{
        width: 120px;
        height: 120px;
        border-radius: 70px;
    }
    p{
        width: 600px;
        height: 300px;
        background-color: pink;
        font-size: 22px;
        padding: 30px;
    }
}
}