<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar ">
        <div class="container-fluid">
          <a class="logo">Let's Travel Together</a>
          <ul class="ul">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">HOME</a></li>
            <li routerLinkActive="active"><a routerLink="/about">ABOUT US</a></li>
            <li routerLinkActive="active"><a routerLink="/travel">TRAVEL TIPS</a></li>
            <li routerLinkActive="active"><a routerLink="/resources">RESOURCES</a></li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
</body>
</html>



   
 
